<footer>
	<div class="container-fluid">
		<div class="row footer">
			<div class="col-md-4 footercol">
				<h3 class="footerhead">DeanOfGreen</h3>
                <a href="/">Home</a>
			</div>
			<div class="col-md-4 footercol">
				<h3 id="contact" class="footerhead">Contact</h3>
                {% if site.instagram_username %}
                <p>
                  {% include icon-instagram.html username=site.instagram_username %}
                </p>
                {% endif %}
                <p>
                    <a href="mailto:armandforprecinct420@gmail.com"><span class="icon glyphicon glyphicon-envelope" aria-hidden="true" id=emailicon></span> ArmandForPrecinct420@gmail.com</a>
                </p>
			</div>
			<div class="col-md-4 footercol">
				<h3 class="footerhead">Acknowledgements</h3>
				<p>Font: Adobe Source Pro provided by <a href="https://www.google.com/fonts">Google Fonts</a></p>
				<p>Copyright Armand Davis</p>
			</div>
			
		</div>		
	</div>
</footer>
