---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="container">
		<div class="row" id="postcontainer">
			<div class="col-md-8">
				<h2>{{ page.title }}</h2>
                <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
					{{ content }}
				</p>
    	    </div>
			<div class="col-md-4 hidden-xs hidden-sm">
				<h2>Write in Armand Davis</h2>
                <p>
                    I am running for Democratic Precinct Committeeperson for Precinct 420. Vote for me if you want to join me in bringing a new high to Precinct 420.
                </p>
                <div id="postportrait">
                    <img src="/resources/PostPortrait.jpg" alt="Photo of the Dean" class="img-responsive img-thumbnail" width=100% >
                </div>
			</div>
        </div>
    </div>
</article>

<link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}" type="text/css">